
 <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" routerLink="/donuts">Donuts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" routerLink="/devs">Devs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>

.navbar{
    display: inline-block;
    background-color: burlywood;
    font-size: 18px;
    font-family: 'Lucida Sans';
    width: 75%;
    color: saddlebrown;
    text-align: left;
    border: 3px solid gold;
}

</style>

  <router-outlet></router-outlet> 



  <!-- <a class="nav-link text-dark" asp-area="" routerLink="/donuts">Donuts</a> -->



